/* ///////////////////////// */
/* Below 1200px Landscape Tablets */
/* ///////////////////////// */

@media (max-width: 75em) {
  .input-task-box {
    width: 100%;
  }

  .input-divider-dashboard {
    width: 100%;
  }
}

/* ///////////////////////// */
/* Below 944px Tablets */
/* ///////////////////////// */

@media (max-width: 52em) {
  /* mobile-nav */

  .app-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
    margin-top: 8.3rem;
  }

  .dashboard-section {
    position: relative;
    z-index: auto;
  }

  .dashboard-nav-m {
    background-color: var(--bg-color);
    position: fixed;
    display: block;
    height: fit-content;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
  }

  .dashboard-nav {
    display: none;
  }

  .nav-name {
    box-shadow: none;
    margin: 0;
  }

  .heading-nav {
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    padding: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: var(--bg-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .link-nav:link,
  .link-nav:visited {
    font-size: 3rem;
  }
  /* /////// */

  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    padding: 4.8rem;
  }

  .hero-text-box {
    width: 100%;
  }

  .hero-img-box {
    grid-row: 1/2;
  }

  .hero-img {
    transform: translate(0);
    width: 100%;
  }

  .dashboard-form-style {
    flex-direction: column;
  }

  .controls-dash {
    flex-direction: column;
    justify-content: flex-start;
  }

  .input-divider-dashboard {
    width: 100%;
  }

  .sort {
    padding-top: 1.8rem;
    padding-right: 0.9rem;
    max-width: none;
    width: 50%;
  }

  .input-style {
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  .controls-dash {
    width: 100%;
    margin-left: 0;
  }

  .input-divider-dashboard {
    margin-top: auto;
  }

  .btn {
    width: 100%;
  }

  .input-task-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ///////////////////////// */
/* Below 704px Smaller tablets */
/* ///////////////////////// */

@media (max-width: 44em) {
  .main-box {
    border: none;
    box-shadow: none;
    transform: translateY(35%);
  }

  .form-box {
    padding: 1.6rem;
  }

  .input-task-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sort {
    padding-top: 1.8rem;
    padding-right: 0;

    max-width: none;
    width: 100%;
  }

  .controls-dash .form-btn {
    margin-top: 0rem;
  }
}

/* ///////////////////////// */
/* Below 544px Phones */
/* ///////////////////////// */

@media (max-width: 34em) {
  .main-box {
    border: none;
    box-shadow: none;
    transform: translateY(25%);
  }
  .form-box {
    padding: 1.6rem;
  }
}

/* ///////////////////////// */
/* Fixing Safari flexbox gap */
/* ///////////////////////// */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
